<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442235509203-i7k6jfmg8rht07ho30ff6n85lcng30p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442235509203-i7k6jfmg8rht07ho30ff6n85lcng30p5</string>
	<key>API_KEY</key>
	<string>AIzaSyAm1HWO7oVuE5BnEFfjqbzZ2S-1orNv9WI</string>
	<key>GCM_SENDER_ID</key>
	<string>442235509203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.christopherhaas.MIXR</string>
	<key>PROJECT_ID</key>
	<string>mixr-70fa8</string>
	<key>STORAGE_BUCKET</key>
	<string>mixr-70fa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442235509203:ios:ae25c4a7c90b074de77726</string>
	<key>DATABASE_URL</key>
	<string>https://mixr-70fa8.firebaseio.com</string>
</dict>
</plist>