<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251259396329-esdhl2vbkm0tdad8oa9v2fftgfe8mqb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251259396329-esdhl2vbkm0tdad8oa9v2fftgfe8mqb1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4V7cFbMAwJJt8kmVTReA-hXg4PRkpzUE</string>
	<key>GCM_SENDER_ID</key>
	<string>251259396329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-inittest-4a0da</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-inittest-4a0da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251259396329:ios:901306abf9808549f8d078</string>
	<key>DATABASE_URL</key>
	<string>https://fir-inittest-4a0da.firebaseio.com</string>
</dict>
</plist>